<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junbaobao.mapper.PcUacLogMapper">
  <resultMap id="BaseResultMap" type="com.junbaobao.model.PcUacLog">
    <!--@mbg.generated-->
    <!--@Table pc_uac_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="log_type" jdbcType="VARCHAR" property="logType" />
    <result column="log_name" jdbcType="VARCHAR" property="logName" />
    <result column="action_id" jdbcType="BIGINT" property="actionId" />
    <result column="action_code" jdbcType="VARCHAR" property="actionCode" />
    <result column="action_name" jdbcType="VARCHAR" property="actionName" />
    <result column="os" jdbcType="VARCHAR" property="os" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="mac" jdbcType="VARCHAR" property="mac" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="request_data" jdbcType="VARCHAR" property="requestData" />
    <result column="request_url" jdbcType="VARCHAR" property="requestUrl" />
    <result column="response_data" jdbcType="VARCHAR" property="responseData" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="excute_time" jdbcType="INTEGER" property="excuteTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_operator" jdbcType="VARCHAR" property="lastOperator" />
    <result column="last_operator_id" jdbcType="BIGINT" property="lastOperatorId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, group_id, group_name, log_type, log_name, action_id, action_code, action_name, 
    os, browser, ip, `location`, mac, description, request_data, request_url, response_data, 
    class_name, method_name, start_time, end_time, excute_time, creator, creator_id, 
    created_time, last_operator, last_operator_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pc_uac_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from pc_uac_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.junbaobao.model.PcUacLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pc_uac_log (group_id, group_name, log_type, 
      log_name, action_id, action_code, 
      action_name, os, browser, 
      ip, `location`, mac, 
      description, request_data, request_url, 
      response_data, class_name, method_name, 
      start_time, end_time, excute_time, 
      creator, creator_id, created_time, 
      last_operator, last_operator_id, update_time
      )
    values (#{groupId,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, #{logType,jdbcType=VARCHAR}, 
      #{logName,jdbcType=VARCHAR}, #{actionId,jdbcType=BIGINT}, #{actionCode,jdbcType=VARCHAR}, 
      #{actionName,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, #{browser,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{mac,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{requestData,jdbcType=VARCHAR}, #{requestUrl,jdbcType=VARCHAR}, 
      #{responseData,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{excuteTime,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{creatorId,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{lastOperator,jdbcType=VARCHAR}, #{lastOperatorId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.junbaobao.model.PcUacLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pc_uac_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        group_id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="logType != null">
        log_type,
      </if>
      <if test="logName != null">
        log_name,
      </if>
      <if test="actionId != null">
        action_id,
      </if>
      <if test="actionCode != null">
        action_code,
      </if>
      <if test="actionName != null">
        action_name,
      </if>
      <if test="os != null">
        os,
      </if>
      <if test="browser != null">
        browser,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="location != null">
        `location`,
      </if>
      <if test="mac != null">
        mac,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="requestData != null">
        request_data,
      </if>
      <if test="requestUrl != null">
        request_url,
      </if>
      <if test="responseData != null">
        response_data,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="methodName != null">
        method_name,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="excuteTime != null">
        excute_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastOperator != null">
        last_operator,
      </if>
      <if test="lastOperatorId != null">
        last_operator_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="logType != null">
        #{logType,jdbcType=VARCHAR},
      </if>
      <if test="logName != null">
        #{logName,jdbcType=VARCHAR},
      </if>
      <if test="actionId != null">
        #{actionId,jdbcType=BIGINT},
      </if>
      <if test="actionCode != null">
        #{actionCode,jdbcType=VARCHAR},
      </if>
      <if test="actionName != null">
        #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="os != null">
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="requestData != null">
        #{requestData,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null">
        #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="responseData != null">
        #{responseData,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="excuteTime != null">
        #{excuteTime,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastOperatorId != null">
        #{lastOperatorId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junbaobao.model.PcUacLog">
    <!--@mbg.generated-->
    update pc_uac_log
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="logType != null">
        log_type = #{logType,jdbcType=VARCHAR},
      </if>
      <if test="logName != null">
        log_name = #{logName,jdbcType=VARCHAR},
      </if>
      <if test="actionId != null">
        action_id = #{actionId,jdbcType=BIGINT},
      </if>
      <if test="actionCode != null">
        action_code = #{actionCode,jdbcType=VARCHAR},
      </if>
      <if test="actionName != null">
        action_name = #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="os != null">
        os = #{os,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        browser = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        `location` = #{location,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="requestData != null">
        request_data = #{requestData,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null">
        request_url = #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="responseData != null">
        response_data = #{responseData,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="excuteTime != null">
        excute_time = #{excuteTime,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        last_operator = #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastOperatorId != null">
        last_operator_id = #{lastOperatorId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junbaobao.model.PcUacLog">
    <!--@mbg.generated-->
    update pc_uac_log
    set group_id = #{groupId,jdbcType=BIGINT},
      group_name = #{groupName,jdbcType=VARCHAR},
      log_type = #{logType,jdbcType=VARCHAR},
      log_name = #{logName,jdbcType=VARCHAR},
      action_id = #{actionId,jdbcType=BIGINT},
      action_code = #{actionCode,jdbcType=VARCHAR},
      action_name = #{actionName,jdbcType=VARCHAR},
      os = #{os,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      `location` = #{location,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      request_data = #{requestData,jdbcType=VARCHAR},
      request_url = #{requestUrl,jdbcType=VARCHAR},
      response_data = #{responseData,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR},
      method_name = #{methodName,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      excute_time = #{excuteTime,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      last_operator = #{lastOperator,jdbcType=VARCHAR},
      last_operator_id = #{lastOperatorId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>