<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junbaobao.mapper.PcTpcMqResendLogMapper">
  <resultMap id="BaseResultMap" type="com.junbaobao.model.PcTpcMqResendLog">
    <!--@mbg.generated-->
    <!--@Table pc_tpc_mq_resend_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="message_id" jdbcType="BIGINT" property="messageId" />
    <result column="message_key" jdbcType="INTEGER" property="messageKey" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, version, message_id, message_key, creator, creator_id, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pc_tpc_mq_resend_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from pc_tpc_mq_resend_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.junbaobao.model.PcTpcMqResendLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pc_tpc_mq_resend_log (version, message_id, message_key, 
      creator, creator_id, created_time
      )
    values (#{version,jdbcType=INTEGER}, #{messageId,jdbcType=BIGINT}, #{messageKey,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{creatorId,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.junbaobao.model.PcTpcMqResendLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pc_tpc_mq_resend_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="version != null">
        version,
      </if>
      <if test="messageId != null">
        message_id,
      </if>
      <if test="messageKey != null">
        message_key,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="messageId != null">
        #{messageId,jdbcType=BIGINT},
      </if>
      <if test="messageKey != null">
        #{messageKey,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junbaobao.model.PcTpcMqResendLog">
    <!--@mbg.generated-->
    update pc_tpc_mq_resend_log
    <set>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="messageId != null">
        message_id = #{messageId,jdbcType=BIGINT},
      </if>
      <if test="messageKey != null">
        message_key = #{messageKey,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junbaobao.model.PcTpcMqResendLog">
    <!--@mbg.generated-->
    update pc_tpc_mq_resend_log
    set version = #{version,jdbcType=INTEGER},
      message_id = #{messageId,jdbcType=BIGINT},
      message_key = #{messageKey,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>