<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junbaobao.mapper.PcMdcDictMapper">
  <resultMap id="BaseResultMap" type="com.junbaobao.model.PcMdcDict">
    <!--@mbg.generated-->
    <!--@Table pc_mdc_dict-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="dict_key" jdbcType="VARCHAR" property="dictKey" />
    <result column="extend_key" jdbcType="VARCHAR" property="extendKey" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_operator" jdbcType="VARCHAR" property="lastOperator" />
    <result column="last_operator_id" jdbcType="VARCHAR" property="lastOperatorId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, version, `type`, dict_key, extend_key, dict_value, dict_code, dict_name, pid, 
    `number`, `status`, remark, creator, creator_id, created_time, last_operator, last_operator_id, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pc_mdc_dict
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from pc_mdc_dict
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.junbaobao.model.PcMdcDict">
    <!--@mbg.generated-->
    insert into pc_mdc_dict (id, version, `type`, 
      dict_key, extend_key, dict_value, 
      dict_code, dict_name, pid, 
      `number`, `status`, remark, 
      creator, creator_id, created_time, 
      last_operator, last_operator_id, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{dictKey,jdbcType=VARCHAR}, #{extendKey,jdbcType=VARCHAR}, #{dictValue,jdbcType=VARCHAR}, 
      #{dictCode,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, #{pid,jdbcType=BIGINT}, 
      #{number,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{lastOperator,jdbcType=VARCHAR}, #{lastOperatorId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.junbaobao.model.PcMdcDict">
    <!--@mbg.generated-->
    insert into pc_mdc_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="dictKey != null">
        dict_key,
      </if>
      <if test="extendKey != null">
        extend_key,
      </if>
      <if test="dictValue != null">
        dict_value,
      </if>
      <if test="dictCode != null">
        dict_code,
      </if>
      <if test="dictName != null">
        dict_name,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="number != null">
        `number`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastOperator != null">
        last_operator,
      </if>
      <if test="lastOperatorId != null">
        last_operator_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="dictKey != null">
        #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="extendKey != null">
        #{extendKey,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastOperatorId != null">
        #{lastOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junbaobao.model.PcMdcDict">
    <!--@mbg.generated-->
    update pc_mdc_dict
    <set>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="dictKey != null">
        dict_key = #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="extendKey != null">
        extend_key = #{extendKey,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        dict_code = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        dict_name = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        `number` = #{number,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        last_operator = #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastOperatorId != null">
        last_operator_id = #{lastOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junbaobao.model.PcMdcDict">
    <!--@mbg.generated-->
    update pc_mdc_dict
    set version = #{version,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      dict_key = #{dictKey,jdbcType=VARCHAR},
      extend_key = #{extendKey,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      dict_code = #{dictCode,jdbcType=VARCHAR},
      dict_name = #{dictName,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=BIGINT},
      `number` = #{number,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      last_operator = #{lastOperator,jdbcType=VARCHAR},
      last_operator_id = #{lastOperatorId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pc_mdc_dict
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.version,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`type` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.type,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="dict_key = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dictKey,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="extend_key = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.extendKey,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="dict_value = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dictValue,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="dict_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dictCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="dict_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dictName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="pid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.pid,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="`number` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.number,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="creator = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.creator,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="creator_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.creatorId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="last_operator = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.lastOperator,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="last_operator_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.lastOperatorId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="insertOrUpdate" parameterType="com.junbaobao.model.PcMdcDict">
    <!--@mbg.generated-->
    insert into pc_mdc_dict
    (id, version, `type`, dict_key, extend_key, dict_value, dict_code, dict_name, pid, 
      `number`, `status`, remark, creator, creator_id, created_time, last_operator, last_operator_id, 
      update_time)
    values
    (#{id,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{dictKey,jdbcType=VARCHAR}, 
      #{extendKey,jdbcType=VARCHAR}, #{dictValue,jdbcType=VARCHAR}, #{dictCode,jdbcType=VARCHAR}, 
      #{dictName,jdbcType=VARCHAR}, #{pid,jdbcType=BIGINT}, #{number,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{lastOperator,jdbcType=VARCHAR}, 
      #{lastOperatorId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
    on duplicate key update 
    id = #{id,jdbcType=BIGINT}, 
    version = #{version,jdbcType=INTEGER}, 
    `type` = #{type,jdbcType=INTEGER}, 
    dict_key = #{dictKey,jdbcType=VARCHAR}, 
    extend_key = #{extendKey,jdbcType=VARCHAR}, 
    dict_value = #{dictValue,jdbcType=VARCHAR}, 
    dict_code = #{dictCode,jdbcType=VARCHAR}, 
    dict_name = #{dictName,jdbcType=VARCHAR}, 
    pid = #{pid,jdbcType=BIGINT}, 
    `number` = #{number,jdbcType=INTEGER}, 
    `status` = #{status,jdbcType=INTEGER}, 
    remark = #{remark,jdbcType=VARCHAR}, 
    creator = #{creator,jdbcType=VARCHAR}, 
    creator_id = #{creatorId,jdbcType=VARCHAR}, 
    created_time = #{createdTime,jdbcType=TIMESTAMP}, 
    last_operator = #{lastOperator,jdbcType=VARCHAR}, 
    last_operator_id = #{lastOperatorId,jdbcType=VARCHAR}, 
    update_time = #{updateTime,jdbcType=TIMESTAMP}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.junbaobao.model.PcMdcDict">
    <!--@mbg.generated-->
    insert into pc_mdc_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="dictKey != null">
        dict_key,
      </if>
      <if test="extendKey != null">
        extend_key,
      </if>
      <if test="dictValue != null">
        dict_value,
      </if>
      <if test="dictCode != null">
        dict_code,
      </if>
      <if test="dictName != null">
        dict_name,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="number != null">
        `number`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastOperator != null">
        last_operator,
      </if>
      <if test="lastOperatorId != null">
        last_operator_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="dictKey != null">
        #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="extendKey != null">
        #{extendKey,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastOperatorId != null">
        #{lastOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="dictKey != null">
        dict_key = #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="extendKey != null">
        extend_key = #{extendKey,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        dict_code = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        dict_name = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        `number` = #{number,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOperator != null">
        last_operator = #{lastOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastOperatorId != null">
        last_operator_id = #{lastOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>